Package: unifiedviews-plugins
Version: [[debian-package-version]]
Section: java
Priority: extra
Architecture: all
Maintainer: jmc@eea.sk
Depends: curl, unifiedviews-webapp (>> 2.1), unifiedviews-webapp (<< 3)
Description: UnifiedViews Plugins (DPUs).
